body {
    font-size: 18px;
    line-height: 1.5;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    background-color: purple;
    color: white;
    text-align: left;
    padding: 1.5rem;
}

header img {
    max-width: 200px;
    float: right;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #999;
}

section h2 {
    border-bottom: 1px solid black;
}