body {
    font-size: 18px;
    line-height: 1.5;
    background-color: white;
}

header, main, footer {
    margin: 1.25rem;
    max-width: 760px;
    padding: 18px;
}

header {
    background-color: purple;
    color: white;
    text-align: left;
    border-radius: 10px;
}

header img {
    max-width: 200px;
    float: right;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #999;
    padding-bottom: 50px;
}

section h2 {
    border-bottom: 1px solid black;
}

a {
    color: limegreen;
}

footer {
    background-color: purple;
    color: white;
    text-align: center;
    border-radius: 10px;
}