header,footer {
    background-color: #305252;
    color: #E6EBE0;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: .25rem;
}
header h2 {
    background-color: #305252;
    color: #E6EBE0;
}
nav {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
a {
    flex: auto;
    color: #E6EBE0;
    text-align: center;
    height: 2rem;
    width: 100%;
    padding-top: .5rem;
}
a:hover {
    color: #305252;
    background-color: #E6EBE0;
    border-radius: 1rem;
}
nav a:link {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Bodoni Moda', serif;
}
h2{
    background-color: #9BC1BC;
    color: #000000;
    margin: 1rem;
    padding: 1rem;
    border-radius: .25rem;
}
p {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    font-size: 18px;
}
.persona {
    background-color: #E6EBE0;
    color: #000000;
}
div :nth-child(3) {
    background-color: #E6EBE0;
}
div :nth-child(4) {
    background-color: #305252;
    color: #E6EBE0;
}
div :nth-child(7) {
    background-color: #9BC1BC;
}
div :nth-child(8) {
    background-color: #5d576b;
    color:#E6EBE0;
}
div :nth-child(9) {
    background-color: #ED6A5A;
    color:#E6EBE0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}