header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #305252;
}
.headings {
    flex-direction: column;
    line-height: 1.5;
}
.headings h1 {
    text-align: center;
    color: white;
}
.motto {
    background-color: #305252;
    font-family: 'Montserrat', sans-serif;
    color: #F4F1BB;
    text-align: center;
    padding-bottom: 1rem;
}
.logo {
    margin: 10px;
    border: 1px solid #305252;
}
nav {
    align-content: center;
    justify-content: center;
    background: linear-gradient(#688E89,#305252);
    font-family: 'Montserrat', sans-serif;
    border:none;
}
nav button {
    padding: .7rem 2%;
    background-color: transparent;
    border:none;
    font-size: 18px;
    color: #F4F1BB;
}
nav button:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #F4F1BB;
    border-top:1px solid rgba(0,0,0,0.3);
}
nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color:#F4F1BB;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
    color:#F4F1BB;
}
nav ul.hide {
    display: none;
}
main {
    max-width: 64rem;
    margin: 0 auto;
}
h1,h2 {
    font-family: 'Bodoni Moda', serif;
}
h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
P {
    font-family: 'Montserrat',sans-serif;
}
h2{
    color: #305252;
    margin: 1rem;
}
h3 {
    background: #5d576b;
    color: #E6EBE0;
    margin: 1rem;
    padding: 1rem;
}
.hero_container {
    position: relative;
    max-width: 64rem;
    height: auto;
    margin: 1rem;
}
.hero_ph {
    width: 100%;
    padding-bottom: 1rem;
    margin: 0;
}
.hero_ph img {
    width: 100%;
}
.weather_summary {
    display: block;
    top: 30px;
    left: 30px;
    background-color: #305252;
    box-shadow: 0 0 30px #305252;
    color:#F4F1BB;
    font-family: "montserrat", sans-serif;
    border: 1px solid #305252;
}
.weather_summary h3 {
    background: linear-gradient(#688E89,#305252);
    margin: 0;
    color: #F4F1BB;
}
.weather_summary p {
    padding-left: 1rem;
    margin: .5rem;
}
.forecast {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: #E6EBE0;
    align-content: center;
    justify-content: center;
    margin: 1rem;
}
.forecast h1 {
    grid-row: 1;
    grid-column: 1 / -1;
    color:#5d576b;
    border-bottom: 10px solid #5d576b;
    text-align: center;
    justify-self: stretch;
}
.day-forecast {
    text-align: center;
    align-items: center;
    justify-items: center;
}
.day-forecast h2 {
    font-size: 16px;
}
.day-forecaast p {
    font-size: 14px;
}
.news-figure {
    width: auto;
    float: right;
    margin: 0 1rem 0 1rem;
}
.news-article-1 h4 {
    margin: 0 1rem 1rem 1rem;
}
.news-article {
    text-align: justify;
    margin: 0 1rem 0 1rem;
}
.news-article a {
    color: #5d576b;
}
.news-article a:hover {
    color: #ed6a5a;
}
footer {
    max-width: 64rem;
    background: linear-gradient(#688E89,#305252);
    color: #F4F1BB;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}
.footer-block {
    align-content: center;
    display: flex;
    flex-direction: column;
}
footer h4 {
    padding: .5rem;
    margin: 0;
}
footer p {
    padding-top: 0;
    line-height: 1.5rem;
}
.lmap {
    display: none;
    padding: 1rem;
    width:50%; 
    height:auto; 
    border:0; 
}
footer a {
    color: #F4F1BB;
    padding: .25rem;
}
#pancakes {
    display: none;
    color:#305252;
    font-family: 'montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    background:linear-gradient(#ed6a5a,#F4F1BB,#ed6a5a);
    padding: 1.4rem;
    text-align: center;
    justify-self: center;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}