body {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}
.image-container {
    align-self: center;
}
.img-small {
    filter: blur(.3rem);
    transition: filter 0.5s;
}