header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #305252;
}
.headings {
    flex-direction: column;
    line-height: 1.5;
}
.headings h1 {
    text-align: center;
    color: white;
    font-size: 22px;
}
.motto {
    background-color: #305252;
    font-family: 'Montserrat', sans-serif;
    color: #F4F1BB;
    padding:unset;
    margin:unset;
}
header img {
    margin: 10px;
    border: 1px solid #305252;
}
nav {
    align-content: center;
    justify-content: center;
    background: linear-gradient(#688E89,#305252);
    font-family: 'Montserrat', sans-serif;
    border:none;
}
nav button {
    padding: .7rem 2%;
    background-color: transparent;
    border:none;
    font-size: 18px;
    color: #F4F1BB;
}
nav button:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #F4F1BB;
    border-top:1px solid rgba(0,0,0,0.3);
}
nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color:#F4F1BB;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
    color:#F4F1BB;
}
nav ul.hide {
    display: none;
}
main {
    max-width: 64rem;
    margin: 0 auto;
}
h1,h2 {
    font-family: 'Bodoni Moda', serif;
}
h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: #305252;
    font-size: 25px;
    margin: 1rem;
}
h3 {
    background: #5d576b;
    color: #E6EBE0;
    margin: 1rem;
    padding: 1rem;
}
.hero_container {
    position: relative;
    max-width: 64rem;
    height: auto;
    margin: 1rem;
}
.hero_ph {
    margin: 0 auto;
    border: 1px solid #E6EBE0;
    width: 100%;
    height: auto;
}
.weather_summary {
    position: absolute;
    display: grid;
    grid-template-rows: 20% 15% 15% 15% 15% 15% 5%;
    align-items: stretch;
    justify-items: flex-start;
    top: 30px;
    left: 30px;
    background: radial-gradient( rgba(104,142,137,.85), rgba(48,82,82,.90));
    box-shadow: 0 0 30px #305252;
    color:#F4F1BB;
    font-family: "montserrat", sans-serif;
    border: 1px solid #305252;
}
.weather_summary h3 {
    background: linear-gradient(#688E89,#305252);
    grid-row: 1;
    margin: 0;
    color: #F4F1BB;
}
.weather_summary p {
    padding-left: 15px;

}
.news {
    margin: 1rem;
}
.news-container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 1rem;
}
.news-article {
    align-content: center;
    justify-content: center;   
}
footer {
    max-width: 64rem;
    background: linear-gradient(#688E89,#305252);
    color: #F4F1BB;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}
footer a {
    color: #F4F1BB;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}