header {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    width: 80px;
    height: auto;
}
.headings h1 {
    margin-left: 1rem;
}